

body{
    background-image:url(imgs/ars.png); 
	background-color:#CDCDCD;
	background-attachment:scroll
	
   }
.deg{
border-radius:30px;

 }
a{
color:#fc0;
 }
 #style{
	 list-style-type:circle;
	 list-style-image:url(imgs/);
	 
 }
 #menu{

	 height:65px;
	 position:relative;
 }
#menu ul li{
	
    list-style-type:none; 
   
	float:left;
}
#menu ul li a{
	color:#fc0;
	padding:0 10px;
	font-family:"Cuprum", sans-serif;
	line-height:65px;
	display:block;
	height:65px;
	border-radius:30px
}
#menu ul li a:hover{
	background:#696969;
}
#menu  .dropdown {
	position:absolute;
	top:100%;
	height:390px;
	background:#696969;
	font-family:"Cuprum", sans-serif;
	display:none;
	border-radius:30px;
	
}
#menu  .dropdown li {
	width:100px;
}
#menu :hover .dropdown{
	display:block;
}
#menu  .dropdown :hover{
	background:#777777;
}
#logos{
	position:relative;
	border-radius:30px;
	display:block;
	width:550px;
	left:180px;
	float:center;
}


